.footer-container{
    margin-top: 70px;
}
ul li a{
    color: #6c757d!important;
    font-weight: bold;
}
.footer-container ul{
    padding: 0;
}
.footer-container ul li{
    list-style-type: none;
}

  @media screen and (max-width: 575px) and (min-width: 200px) {
    .footer-container ul li {
        text-align: center;
    }
  }